.padding0{
  padding: 0 !important
}

.margin0{
  margin: 0 !important;
}

.clear-fix{
  clear: both !important;
}

.register-color{
    color: #494949 !important;
    text-decoration: none !important;
}


span.special-istek{
  font-weight: 700 !important;
  color: $istek-color !important;
}

span.special-destek{
  font-weight: 700 !important;
  color: $destek-color !important;
}
