#password-reset{
  margin-top: 30px;
  min-height: 100%;
  input[type='email']{
    height: 40px;
    border-radius: 0;
    &:focus{
      border-color: $main-bg-color;
      box-shadow: none;
    }
  }
  button[type='submit']{
    background-color: $common-blue-color;
    color: white;
    transition: all .3s ease;
    border: none;
    border-radius: 0;
    &:hover{
      background-color: darken($common-blue-color, 5%);
    }
  }
}
